# CS5228-KDDM, 2025/26-2, Coursework 1

#### Student Name: Lee Junyoung
#### Student Number: A0247530J

# CW1, Part 1: Data Preprocessing using Python (2+2=4 marks)

## CW1-1-2: Data Transformation (2 marks)

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [ ]:
# load the clean dataset from previous task
df = pd.read_csv('result1-1.csv')
print(f"dataset shape: {df.shape}")

Loaded dataset shape: (30160, 15)


For columns B (workclass), D (education), J (sex):

We use `pd.factorize` to get unique integer labels with label encoding.

In [ ]:
cols_to_encode = ['workclass', 'education', 'sex']

for col in cols_to_encode:
    df[col], _ = pd.factorize(df[col])

# Show first 15 records
print("first 15 records after encoding:")
df.head(15)

First 15 records after encoding:

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,0,77516,0,13,Never-married,Adm-clerical,Not-in-family,White,0,2174,0,40,United-States,<=50K
1,50,1,83311,0,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,0,13,United-States,<=50K
2,38,2,215646,1,9,Divorced,Handlers-cleaners,Not-in-family,White,0,0,0,40,United-States,<=50K
3,53,2,234721,2,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,0,40,United-States,<=50K
4,28,2,338409,0,13,Married-civ-spouse,Prof-specialty,Wife,Black,1,0,0,40,Cuba,<=50K
5,37,2,284582,3,14,Married-civ-spouse,Exec-managerial,Wife,White,1,0,0,40,United-States,<=50K
6,49,2,160187,4,5,Married-spouse-absent,Other-service,Not-in-family,Black,1,0,0,16,Jamaica,<=50K
7,52,1,209642,1,9,Married-civ-spouse,Exec-managerial,Husband,White,0,0,0,45,United-States,>50K
8,31,2,45781,3,14,Never-married,Prof-specialty,Not-in-family,White,1,14084,0,50,United-States,>50K
9,42,2,159449,0,13,Married-civ-spouse,Exec-managerial,Husband,White,0,5178,0,40,United-States,>50K
10,37,2,280464,5,10,Married-civ-spouse,Exec-managerial,Husband,Black,0,0,0,80,United-States,>50K
11,30,0,141297,0,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,0,0,0,40,India,>50K
12,23,2,122272,0,13,Never-married,Adm-clerical,Own-child,White,1,0,0,30,United-States,<=50K
13,32,2,205019,6,12,Never-married,Sales,Not-in-family,Black,0,0,0,50,United-States,<=50K
14,34,2,245487,7,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,0,0,0,45,Mexico,<=50K

In [ ]:
# save result
df.to_csv('result1-2.csv', index=False)

Next, normalise the columns K and L using Z-transform.

In [11]:
cols_to_norm = ['capital-gain', 'capital-loss']

# calculate mean and std before norm
print("Statistics BEFORE normalisation:")
print(df[cols_to_norm].agg(['mean', 'std']))

Statistics BEFORE normalisation:
      capital-gain  capital-loss
mean   1092.010477     88.378349
std    7406.587103    404.311135

In [12]:
# init scaler
scaler = StandardScaler()
df[cols_to_norm] = scaler.fit_transform(df[cols_to_norm])

# calculate mean and std after normalization
print("Statistics AFTER normalisation:")
print(df[cols_to_norm].agg(['mean', 'std']))

Statistics AFTER normalisation:
      capital-gain  capital-loss
mean  1.931847e-17 -8.752209e-17
std   1.000017e+00  1.000017e+00

In [13]:

# show last 15 records
print("last 15 records after normalization:")
df.tail(15)

last 15 records after normalization:

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
30145,37,2,198216,6,12,Divorced,Tech-support,Not-in-family,White,1,-0.147440,-0.218594,40,United-States,<=50K
30146,43,2,260761,1,9,Married-civ-spouse,Machine-op-inspct,Husband,White,0,-0.147440,-0.218594,40,Mexico,<=50K
30147,65,1,99359,10,15,Never-married,Prof-specialty,Not-in-family,White,0,-0.000812,-0.218594,60,United-States,<=50K
30148,43,0,255835,5,10,Divorced,Adm-clerical,Other-relative,White,1,-0.147440,-0.218594,40,United-States,<=50K
30149,43,1,27242,5,10,Married-civ-spouse,Craft-repair,Husband,White,0,-0.147440,-0.218594,50,United-States,<=50K
30150,32,2,34066,12,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,0,-0.147440,-0.218594,40,United-States,<=50K
30151,43,2,84661,9,11,Married-civ-spouse,Sales,Husband,White,0,-0.147440,-0.218594,45,United-States,<=50K
30152,32,2,116138,3,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,0,-0.147440,-0.218594,11,Taiwan,<=50K
30153,53,2,321865,3,14,Married-civ-spouse,Exec-managerial,Husband,White,0,-0.147440,-0.218594,40,United-States,>50K
30154,22,2,310152,5,10,Never-married,Protective-serv,Not-in-family,White,0,-0.147440,-0.218594,40,United-States,<=50K
30155,27,2,257302,6,12,Married-civ-spouse,Tech-support,Wife,White,1,-0.147440,-0.218594,38,United-States,<=50K
30156,40,2,154374,1,9,Married-civ-spouse,Machine-op-inspct,Husband,White,0,-0.147440,-0.218594,40,United-States,>50K
30157,58,2,151910,1,9,Widowed,Adm-clerical,Unmarried,White,1,-0.147440,-0.218594,40,United-States,<=50K
30158,22,2,201490,1,9,Never-married,Adm-clerical,Own-child,White,0,-0.147440,-0.218594,20,United-States,<=50K
30159,52,5,287927,1,9,Married-civ-spouse,Exec-managerial,Wife,White,1,1.881058,-0.218594,40,United-States,>50K

In [14]:

# save result
df.to_csv('result1-3.csv', index=False)