# CS5228, Tutorial 1
## 2025, NUS
### Amir

#### Goal: Data Preprocessing
#### Dataset comprises names, height, weight, gender, and date of birth of 91 celebrities

In [1]:
# we only need Pandas lib
import pandas as pd

In [2]:

# this is actually file and path
file_path = 'celebs1-bad-25.csv'

# Read the CSV file
df = pd.read_csv(file_path)

# Display the header
print(df.head())

              name  height  weight gender     DoB
0     Adriana Lima  177.80   115.0      f  Jun-81
1      Alicia Keys  167.64   120.0      f  Jan-81
2   Angelina Jolie  172.70   122.0      f  Jun-75
3  Anna Kournikova  172.70   120.0      f  Jun-81
4      Ashley Judd  170.20   125.0      f  Apr-68

- Height is in cm
- but weight is in British pounds
- we want to convert it to KG firstly, and add another column to the dataset, called weight_kg

In [3]:
df['weight_kg'] = df['weight'] * 0.453

In [4]:
# save a copy in df2
df2 = df

In [5]:
print(df.head())

              name  height  weight gender     DoB  weight_kg
0     Adriana Lima  177.80   115.0      f  Jun-81     52.095
1      Alicia Keys  167.64   120.0      f  Jan-81     54.360
2   Angelina Jolie  172.70   122.0      f  Jun-75     55.266
3  Anna Kournikova  172.70   120.0      f  Jun-81     54.360
4      Ashley Judd  170.20   125.0      f  Apr-68     56.625

In [6]:
# Step 1: Identify Missing Values, false shows non-empty cell
missing_values = df.isnull()
print("Missing Values (True indicates missing):\n", missing_values)

# Step 2: Summarize Missing Values
missing_summary = df.isnull().sum()
print("\nSummary of Missing Values:\n", missing_summary)

Missing Values (True indicates missing):
      name  height  weight  gender    DoB  weight_kg
0   False   False   False   False  False      False
1   False   False   False   False  False      False
2   False   False   False   False  False      False
3   False   False   False   False  False      False
4   False   False   False   False  False      False
..    ...     ...     ...     ...    ...        ...
86  False   False   False   False  False      False
87  False   False   False   False  False      False
88  False   False   False   False  False      False
89  False   False   False   False  False      False
90  False   False   False   False  False      False

[91 rows x 6 columns]

Summary of Missing Values:
 name         0
height       2
weight       3
gender       0
DoB          0
weight_kg    3
dtype: int64

In [7]:
# dropping rows with missing value
print("DataFrame before dropping rows with missing values:\n", df)
df_dropped_rows = df.dropna()
print("DataFrame after dropping rows with missing values:\n", df_dropped_rows)

DataFrame before dropping rows with missing values:
                name  height  weight gender     DoB  weight_kg
0      Adriana Lima  177.80   115.0      f  Jun-81     52.095
1       Alicia Keys  167.64   120.0      f  Jan-81     54.360
2    Angelina Jolie  172.70   122.0      f  Jun-75     55.266
3   Anna Kournikova  172.70   120.0      f  Jun-81     54.360
4       Ashley Judd  170.20   125.0      f  Apr-68     56.625
..              ...     ...     ...    ...     ...        ...
86       John Wayne  193.00   170.0      m  May-07     77.010
87      Henry Fonda  187.00   155.0      m  May-05     70.215
88     Kirk Douglas  175.30   152.0      m  Dec-16     68.856
89  Michael Douglas  178.00   139.0      m  Sep-44     62.967
90   Burt Lancaster  188.00   180.0      m  Nov-13     81.540

[91 rows x 6 columns]
DataFrame after dropping rows with missing values:
                name  height  weight gender     DoB  weight_kg
0      Adriana Lima  177.80   115.0      f  Jun-81     52.095
1       Alicia Keys  167.64   120.0      f  Jan-81     54.360
2    Angelina Jolie  172.70   122.0      f  Jun-75     55.266
3   Anna Kournikova  172.70   120.0      f  Jun-81     54.360
4       Ashley Judd  170.20   125.0      f  Apr-68     56.625
..              ...     ...     ...    ...     ...        ...
86       John Wayne  193.00   170.0      m  May-07     77.010
87      Henry Fonda  187.00   155.0      m  May-05     70.215
88     Kirk Douglas  175.30   152.0      m  Dec-16     68.856
89  Michael Douglas  178.00   139.0      m  Sep-44     62.967
90   Burt Lancaster  188.00   180.0      m  Nov-13     81.540

[87 rows x 6 columns]

## Options: 
- Removing columns with missing values
- df_dropped_columns = df.dropna(axis=1)- 
print("DataFrame after dropping columns with missing values:\n", df_dropped_colums)
-  how Parameter: Specifies whether to drop rows/columns with any missing ('any') or all missing ('all') value
- 
how='any': Drops rows or columns if any value is missing (defau)
- .
how='all': Drops rows or columns only if all values are misgs- t.
thresh Parameter: Requires that a column/row has at least a aertain number of non-NA values to e- ### subset Parameter: Specify which columns to check for missing values before dropping r
- .
- df_subset = df.dropna(subset=['gend]t.s)

## Replacing missing value with average or ...

In [8]:
# Display the original DataFrame
print("Original DataFrame:\n", df)

# Step 1: Calculate the mean of a column 
mean1 = df['weight'].mean()

# Step 2: Replace missing values in a column with the mean
df['weight'] = df['weight'].fillna(mean1)

# Display the modified DataFrame
print("\nDataFrame after replacing missing values with the mean in column:\n", df)

Original DataFrame:
                name  height  weight gender     DoB  weight_kg
0      Adriana Lima  177.80   115.0      f  Jun-81     52.095
1       Alicia Keys  167.64   120.0      f  Jan-81     54.360
2    Angelina Jolie  172.70   122.0      f  Jun-75     55.266
3   Anna Kournikova  172.70   120.0      f  Jun-81     54.360
4       Ashley Judd  170.20   125.0      f  Apr-68     56.625
..              ...     ...     ...    ...     ...        ...
86       John Wayne  193.00   170.0      m  May-07     77.010
87      Henry Fonda  187.00   155.0      m  May-05     70.215
88     Kirk Douglas  175.30   152.0      m  Dec-16     68.856
89  Michael Douglas  178.00   139.0      m  Sep-44     62.967
90   Burt Lancaster  188.00   180.0      m  Nov-13     81.540

[91 rows x 6 columns]

DataFrame after replacing missing values with the mean in column:
                name  height  weight gender     DoB  weight_kg
0      Adriana Lima  177.80   115.0      f  Jun-81     52.095
1       Alicia Keys  167.64   120.0      f  Jan-81     54.360
2    Angelina Jolie  172.70   122.0      f  Jun-75     55.266
3   Anna Kournikova  172.70   120.0      f  Jun-81     54.360
4       Ashley Judd  170.20   125.0      f  Apr-68     56.625
..              ...     ...     ...    ...     ...        ...
86       John Wayne  193.00   170.0      m  May-07     77.010
87      Henry Fonda  187.00   155.0      m  May-05     70.215
88     Kirk Douglas  175.30   152.0      m  Dec-16     68.856
89  Michael Douglas  178.00   139.0      m  Sep-44     62.967
90   Burt Lancaster  188.00   180.0      m  Nov-13     81.540

[91 rows x 6 columns]

## How to replace missing values with a specific value
- df_filled = df.fillna(0)
- df_filled_specific = df.fillna(value=fill_values)
- Forward Fill (ffill): Propagates the last valid observation forward to the next valid.
df_ffill = df.fillna(method='ffll)
- 
Backward Fill (bfill): Uses the next valid observation to fill the - py code
df_bfill = df.fillna(method='bfill')

## Data Normalization 
#### I would like to normalize one of the numerical columns of my dataframe. 
#### I want to make it standard Gaussian, with mean=0 and std=1 (Z-Transform)

In [9]:
# Display the original DataFrame
print("Original DataFrame:\n", df2)
df2 = df2.dropna()

# Choose the column to standardize, e.g., column 'height'
column_to_normalize = 'height'

# Step 1: Calculate the mean and standard deviation of the column
mean = df2[column_to_normalize].mean()
std_dev = df2[column_to_normalize].std()

# Step 2: Apply the standardization formula
df2[column_to_normalize + '_standardized'] = (df[column_to_normalize] - mean) / std_dev

# Display the DataFrame with the standardized column
print("\nDataFrame after standardizing column:\n", df2)

Original DataFrame:
                name  height  weight gender     DoB  weight_kg
0      Adriana Lima  177.80   115.0      f  Jun-81     52.095
1       Alicia Keys  167.64   120.0      f  Jan-81     54.360
2    Angelina Jolie  172.70   122.0      f  Jun-75     55.266
3   Anna Kournikova  172.70   120.0      f  Jun-81     54.360
4       Ashley Judd  170.20   125.0      f  Apr-68     56.625
..              ...     ...     ...    ...     ...        ...
86       John Wayne  193.00   170.0      m  May-07     77.010
87      Henry Fonda  187.00   155.0      m  May-05     70.215
88     Kirk Douglas  175.30   152.0      m  Dec-16     68.856
89  Michael Douglas  178.00   139.0      m  Sep-44     62.967
90   Burt Lancaster  188.00   180.0      m  Nov-13     81.540

[91 rows x 6 columns]

DataFrame after standardizing column:
                name  height  weight gender     DoB  weight_kg  \
0      Adriana Lima  177.80   115.0      f  Jun-81     52.095
1       Alicia Keys  167.64   120.0      f  Jan-81     54.360
2    Angelina Jolie  172.70   122.0      f  Jun-75     55.266
3   Anna Kournikova  172.70   120.0      f  Jun-81     54.360
4       Ashley Judd  170.20   125.0      f  Apr-68     56.625
..              ...     ...     ...    ...     ...        ...
86       John Wayne  193.00   170.0      m  May-07     77.010
87      Henry Fonda  187.00   155.0      m  May-05     70.215
88     Kirk Douglas  175.30   152.0      m  Dec-16     68.856
89  Michael Douglas  178.00   139.0      m  Sep-44     62.967
90   Burt Lancaster  188.00   180.0      m  Nov-13     81.540

    height_standardized
0              0.247801
1             -0.241425
2              0.002225
3              0.002225
4             -0.118155
..                  ...
86             0.979712
87             0.690800
88             0.127420
89             0.257431
90             0.738952

[87 rows x 7 columns]

C:\Users\amir.m\AppData\Local\Temp\ipykernel_41272\874266880.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column_to_normalize + '_standardized'] = (df[column_to_normalize] - mean) / std_dev

In [10]:
column_to_normalize = 'weight'
mean = df2[column_to_normalize].mean()
std_dev = df2[column_to_normalize].std()
df2[column_to_normalize] = (df[column_to_normalize] - mean) / std_dev

print("\nDataFrame after standardizing column:\n", df2)

DataFrame after standardizing column:
                name  height    weight gender     DoB  weight_kg  \
0      Adriana Lima  177.80 -0.363274      f  Jun-81     52.095
1       Alicia Keys  167.64 -0.316687      f  Jan-81     54.360
2    Angelina Jolie  172.70 -0.298052      f  Jun-75     55.266
3   Anna Kournikova  172.70 -0.316687      f  Jun-81     54.360
4       Ashley Judd  170.20 -0.270100      f  Apr-68     56.625
..              ...     ...       ...    ...     ...        ...
86       John Wayne  193.00  0.149187      m  May-07     77.010
87      Henry Fonda  187.00  0.009425      m  May-05     70.215
88     Kirk Douglas  175.30 -0.018528      m  Dec-16     68.856
89  Michael Douglas  178.00 -0.139655      m  Sep-44     62.967
90   Burt Lancaster  188.00  0.242361      m  Nov-13     81.540

    height_standardized
0              0.247801
1             -0.241425
2              0.002225
3              0.002225
4             -0.118155
..                  ...
86             0.979712
87             0.690800
88             0.127420
89             0.257431
90             0.738952

[87 rows x 7 columns]

C:\Users\amir.m\AppData\Local\Temp\ipykernel_41272\1233065669.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column_to_normalize] = (df[column_to_normalize] - mean) / std_dev

#### Now, you know how to apply Z-Transformation, or Gaussian (Standard) normalization.
#### What if you want to bring the range of one of your data columns between [0,1] or [-1,1] or any [min,max]? 
#### Do that yourself

## Next, we may have dirty data. it means data which is not in correct format or range
You may try DoB column to realize what it means. 
Now, we need to access to all rows of DoB variable to process that, but how? 

### Option 1: 
# Define a custom function
def process_value(x):
    return x * 2  # Example operation: multiply by 2

# Apply the custom function to each element in column 'A'
df['A'] = df['A'].apply(process_value)

print("\nDataFrame after applying a custom function to column 'A':\ 

### Option 2:
import pandas as pd

# Sample DataFrame
data = {'A': [10, 20, 30, 40, 50],
        'B': [5, 15, 25, 35, 45]}

df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:\n", df)

# Access and modify elements in column 'A' one by one
for index in range(len(df)):
    # Access the element
    current_value = df.at[index, 'A']
    
    # Modify the element (for example, add 10 to each element)
    new_value = current_value + 10
    
    # Update the element in the DataFrame
    df.at[index, 'A'] = new_value

# Display the modified DataFrame
print("\nDataFrame after modifying column 'A' elements one by one:\n", df)n", df)